<script src="/js/jquery-2.0.3.min.js"></script>

<% if (theme.fancybox){ %>
  <%- css('fancybox/jquery.fancybox') %>
  <%- js('fancybox/jquery.fancybox.pack') %>
<% } %>

<%- js('js/script') %>

<script src="/js/navigation.js"></script>

<div id="bg"></div>
