<% if (!index && post.comments && theme.waline && theme.waline.serverURL){ %>
<section id="comment">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@waline/client@3/dist/waline.css">
  <div id="waline"></div>
  <script type="module">
    import { init } from 'https://cdn.jsdelivr.net/npm/@waline/client@3/dist/waline.js';
    init({
      el: '#waline',
      serverURL: '<%= theme.waline.serverURL %>',
      lang: 'zh-CN',
      path: window.location.pathname,
      emoji: [
        'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.1.0/weibo',
        'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.1.0/bilibili'
      ],
      // 自定义 8 个 reaction，全部走 jsdelivr，避开默认 unpkg
      reaction: [
        'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.1.0/weibo/ee.png',
        'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.1.0/weibo/han.png',
        'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.1.0/weibo/xixi.png',
        'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.1.0/weibo/aini.png',
        'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.1.0/weibo/good.png',
        'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.1.0/weibo/zan.png',
        'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.1.0/weibo/heng.png',
        'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.1.0/weibo/shuai.png'
      ],
      pageview: false,
      comment: true
    });
  </script>
</section>
<% } %>
